<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/auth/login.css" />
  </head>
  <body>
    <div id="login-container">
      <form action="/users/auth/login" method="post">
        <div class="logo-container">
          <a href="/">
            <div id="logo">
              <span>Review</span><span>Good</span><span>Book</span>
            </div>
          </a>
        </div>

        <div class="container">
          <div id="email-container">
            <label for="email">Email</label>
            <input
              type="text"
              placeholder="Enter Email"
              name="email"
              required
            />
          </div>

          <div id="password-container">
            <label for="password">Password</label>
            <input
              type="password"
              placeholder="Enter Password"
              name="password"
              required
            />
          </div>

          <button type="submit">Login</button>
        </div>

        <div id="footer">
          <button type="button" class="cancelbtn">
            <a href="/">Cancel</a>
          </button>
          <p>Not a member?<a href="/users/auth/register">Sign up</a></p>
          <a href="#">Forgot password?</a>
        </div>
      </form>
    </div>
    <!-- <script src="/static/auth/login.js"></script> -->
  </body>
</html>
