/* Review Card */

.review-card {
  display: flex;
  flex-direction: row;
  width: 97%;
  /* height: 17vh; */
  height: 125px;
  margin: 2vh auto 0 auto;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px red, 4px 4px green, 6px 6px blue;
  cursor: pointer;
  font-size: 15px;
}

.review-card:hover {
  background-color: rgba(0, 0, 255, 0.3);
  color: white;
}

.review-card .content {
  width: 100%;
  padding: 1%;
}

.review-card .content .book-info {
  display: flex;
  justify-content: space-between;
}

.review-card .content .book-info p {
  width: 33.33%;
  padding-left: 1%;
  /* border-left: 1px solid; */
}

.review-card .content .review-title {
  height: 60%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.review-card .content .review-title p {
  line-height: 20px;
  padding-left: 10px;
}

.review-card .content .add-info {
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.review-card .content .add-info p {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-left: 1%;
  /* border-left: 1px solid; */
}
