body * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

#header {
  display: flex;
  height: 7vh;
  padding: 9px 2% 9px 2%;
  background-color: rgb(244 244 244);
  justify-content: space-between;
}

#header #right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header #center {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header #left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

#header #left #logo span {
  font-size: 27px;
  font-weight: 700;
}

#header #left #logo span:nth-child(1) {
  color: red;
}

#header #left #logo span:nth-child(2) {
  color: green;
}

#header #left #logo span:nth-child(3) {
  color: blue;
}

#header #left a:last-child {
  display: flex;
  width: 25%;
  height: 80%;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 0, 0.7);
  color: rgb(77, 77, 77);
  border-radius: 5px;
}

#header #left a:last-child:hover {
  background-color: rgba(0, 255, 0, 0.3);
}

#header #center p {
  font-size: 27px;
  font-weight: 700;
  color: rgba(255, 0, 0, 0.7);
}

#header #right #auth {
  display: flex;
  width: 12%;
  justify-content: space-between;
  align-items: center;
}

#header #right #auth #avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 255, 0.7);
}

#header #right #auth #avatar p {
  display: none;
}

#header #right #auth #avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

#action {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

#create-review {
  display: flex;
  width: 49%;
  justify-content: flex-end;
  margin-top: 3vh;
}

#create-review button {
  background-color: rgba(0, 255, 0, 0.7);
  color: rgba(77, 77, 77);
  border: none;
  border-radius: 5px;
}

#create-review button:first-child {
  margin-right: 5%;
}

#create-review button:hover {
  background-color: rgba(0, 255, 0, 0.3);
}

#info-container {
  display: flex;
  justify-content: space-between;
  width: 49%;
  height: 5vh;
  margin-top: 3vh;
}

#book-info {
  width: 47%;
}

#book-info > button {
  border: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#review-title {
  width: 47%;
}

#review-title > button {
  border: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#book-info > button:hover,
#review-title > button:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

#content-container {
  display: flex;
  width: 100%;
  height: 85vh;
  justify-content: space-between;
  padding: 3vh 2% 3vh 2%;
}

#md-container {
  position: relative;
  width: 49%;
  height: 100%;
}

#md-features {
  display: flex;
  width: 100%;
  height: 5%;
}

#md-features > .label:last-child {
  border-right: 3px solid black;
  cursor: pointer;
}

#md-features > .label:last-child:hover {
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#choose-images button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: white;
  cursor: pointer;
}

#choose-images button:hover {
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#html-container {
  width: 49%;
  height: 100%;
}

#md-editor {
  height: 95%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 300px;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
  border: 3px solid black;
  border-radius: 5px;
  border-top-left-radius: 0;
  line-height: 20px;
}

#html-display {
  height: 95%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 300px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border: 3px solid black;
  border-radius: 5px;
  border-top-left-radius: 0;
}

#html-options {
  display: flex;
  height: 5%;
}

#html-options > .label:last-child {
  border-right: 3px solid black;
  cursor: pointer;
}

#html-options > .label:last-child:hover {
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#html-display img {
  /* max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* height: auto; */
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 3px solid black;
  border-bottom: 0;
  border-right: 0;
}

/* Book info pop up*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 80%;
  height: 50%;
  padding: 3% 5% 0 5%;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 10px;
}

#review-title .modal-content {
  height: 45%;
}

.modal-content #review-title-input {
  margin-top: 4vh;
}

.modal-content p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.modal-content div label {
  display: inline-block;
  margin-bottom: 1vh;
}

.yes-no {
  margin-top: 4vh;
  display: flex;
  justify-content: space-around;
}

.yes-no .done-btn {
  width: 10%;
  height: 5vh;
  border: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

.yes-no .done-btn:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

.yes-no .cancle-btn {
  width: 10%;
  height: 5vh;
  border: 0;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}

.yes-no .cancle-btn:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

#fill-book-info {
  width: 100%;
  height: 5vh;
  background-color: gray;
}

#fill-review-title {
  width: 100%;
  height: 5vh;
  background-color: gray;
}

#review-title-input {
  display: block;
  width: 100%;
  min-height: 20vh;
  padding: 5px;
}

.info {
  display: block;
  width: 100%;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  border-color: black;
}

#action div > .info:focus {
  border-color: red;
  /* box-shadow: 1px 1px 1px 1px blue; */
}

#book-info .field {
  margin-top: 2vh;
}

#md-editor #display-info button {
  display: block;
  width: 10%;
  height: 10%;
  margin-left: auto;
  margin-right: 0;
}

/* Notify images info */

#upload-images-info {
  display: none;
}

#upload-images-info.active {
  display: block;
  position: absolute;
  top: 5vh;
  left: 1vh;
  width: 96%;
}

#upload-images-info {
  padding: 3%;
  background-color: rgb(222 222 222);
  border-radius: 5px;
}

#upload-images-info #display-info div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  color: rgba(0, 0, 255, 0.7);
}

#upload-images-info #display-info div .copy {
  width: 15%;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

#upload-images-info #display-info div .copy:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

#upload-images-info #upload-action {
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
}

#upload-images-info #upload-action button {
  width: 15%;
  height: 5vh;
  border: 0;
  border-radius: 5px;
  color: white;
  margin-left: 5%;
}

#upload-images-info #upload-action button.yes {
  background-color: rgba(0, 0, 255, 0.7);
}

#upload-images-info #upload-action button.no {
  background-color: rgba(255, 0, 0, 0.7);
}

#upload-images-info #upload-action button:hover {
  opacity: 0.3;
}

#upload-images-info #upload-action #close-show-url {
  background-color: rgba(255, 0, 0, 0.7);
}

#upload-images-info #display-info .image-url {
  color: rgba(255, 0, 0, 0.7);
}
