/* Review Card */

.review-card {
  display: flex;
  flex-direction: row;
  width: 97%;
  height: 17vh;
  margin: 2vh auto 0 auto;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px red, 4px 4px green, 6px 6px blue;
  cursor: pointer;
  font-size: 15px;
}

.review-card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  padding: 1%;
}

.review-card .content:hover {
  background-color: rgba(0, 0, 255, 0.3);
  color: white;
}

.review-card .action {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-top: 2px; */
}

.review-card .content .book-info {
  display: flex;
  justify-content: space-between;
}

.review-card .content .book-info p {
  width: 33.33%;
  padding-left: 1%;
  border-left: 1px solid;
}

.review-card .content .review-title {
  height: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.review-card .content .add-info {
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.review-card .content .add-info p {
  display: flex;
  justify-content: flex-start;
  width: 33.33%;
  padding-left: 1%;
  border-left: 1px solid;
}

/* Main display */

#main-display {
  background-color: white;
}

/* Notify */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 101; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.notify {
  display: flex;
  justify-content: center;
  align-items: center;
}

#notify-container {
  width: 30%;
  height: 20vh;
  border: 2px solid;
  border-radius: 5px;
  background-color: white;
}

#notify-container #notify-message {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notify-container #button-container {
  height: 20%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

#notify-container #button-container #yes {
  width: 20%;
  border: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.7);
}

#notify-container #button-container #yes:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

#notify-container #button-container #no {
  width: 20%;
  border: 0;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.7);
}

#notify-container #button-container #no:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
