/* CSS of Landing page */
#main-navigation,
#main-display {
  width: 90%;
  margin-left: 5%;
}

#main-display {
  padding: 3vh 10% 3vh 10%;
  background-color: white;
}

#meta-info {
  display: flex;
}

#meta-info div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#meta-info div p {
  margin-bottom: 1vh;
}

#review-content {
  margin-top: 2vh;
}

#meta-info #star {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#meta-info #star button {
  width: 15%;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
  border: 1px solid red;
  border-radius: 5px;
}

#meta-info #star button:hover {
  background-color: rgba(0, 0, 255, 0.3);
}
