/* Review Card */

.review-card {
  display: flex;
  flex-direction: row;
  width: 97%;
  max-height: 20%;
  margin: 2vh auto 0 auto;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px red, 4px 4px green, 6px 6px blue;
  cursor: pointer;
}

.review-card:hover {
  background-color: rgba(0, 0, 255, 0.3);
  color: white;
}

.review-card .content {
  width: 100%;
  padding: 1%;
}

.review-card .content .book-info {
  display: flex;
  justify-content: space-between;
}

.review-card .content .book-info p {
  width: 33.33%;
  border: 1px solid;
}

.review-card .content .add-info {
  display: flex;
  justify-content: flex-end;
}
