<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/home/home.css" />
  </head>
  <body>
    <!-- Header -->
    <div id="header">
      <div id="left">
        <div id="logo">
          <span>Review</span><span>Good</span><span>Boook</span>
        </div>
        <div>About</div>
      </div>
      <div id="right">
        <div id="search">
          <button id="search-btn">Search</button>
          <input
            id="search-input"
            type="text"
            placeholder="Search reviews discussions of books "
          />
        </div>
        <div id="auth">
          <div id="username"><%= userName %></div>
          <button><a href="/users/auth/logout">Log out</a></button>
        </div>
      </div>
    </div>
    <!-- Side Bar -->
    <div id="right-side-bar">
      <div>Discover</div>
      <hr />
      <div style="text-align: center">My Reviews</div>
      <div>All reviews</div>
      <div>Published reviews</div>
      <div>Hide reviews</div>
      <div>In progress reviews</div>
      <hr />
      <div style="text-align: center">My Discussions</div>
      <div>Best Discussions of Week</div>
      <div>Best Discussions of Month</div>
      <div>Best Discussions Of Year</div>
      <hr />
      <a href="/home/reviews/review-creator">Create Review</a>
      <hr />
      <div>Create Discussion</div>
    </div>

    <!-- Space -->
    <div id="space"></div>

    <!-- Main -->
    <div id="main-navigation">
      <div>World</div>
      <div>Home</div>
    </div>
    <div id="main-display">
      Welcome to ReviewGoodBook. Here you can read reviews of all people about
      their books and you can raise a discussion with all people
    </div>

    <!-- Footer -->
    <div id="footer">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim,
      necessitatibus tempore. Unde vero labore animi nostrum, dicta blanditiis
      error saepe quisquam debitis modi, optio officia culpa molestiae,
      doloremque necessitatibus commodi.
    </div>
  </body>
</html>
