<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css"
    />
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('common/header'); %>

    <!-- Space -->
    <div id="space"></div>

    <!-- Main -->
    <div id="main-navigation">
      <div id="world"><a href="/world">World</a></div>
      <div id="sperator"></div>
      <div id="home"><a href="/home">Home</a></div>
    </div>
    <div id="main-display"></div>

    <!-- Footer -->
    <%- include('common/footer'); %>

    <!-- Notify -->
    <%- include('common/show'); %>

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.46.1/dist/instantsearch.production.min.js"></script>
    <script src="/static/common/search.js"></script>
    <script src="/static/common/show.js"></script>
    <script src="/static/common/avatar.js"></script>
  </body>
</html>
