/* CSS of Landing page */
#main-navigation,
#main-display {
  width: 90%;
  margin-left: 5%;
}

#main-display {
  padding: 3vh 10% 3vh 10%;
  background-color: white;
}

#meta-info {
  display: flex;
}

#meta-info div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#meta-info div p {
  margin-bottom: 1vh;
}

#review-content {
  margin-top: 2vh;
}
