<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/common/show.css" />
    <link rel="stylesheet" href="/static/home/home.css" />
    <link rel="stylesheet" href="/static/home/review/show-reviews.css" />
  </head>
  <body>
    <!-- Header -->
    <div id="header">
      <div id="left">
        <a href="/">
          <div id="logo">
            <span>Review</span><span>Good</span><span>Boook</span>
          </div>
        </a>
        <!-- <div>About</div> -->
      </div>
      <div id="right">
        <div id="search">
          <button id="search-btn">Search</button>
          <input
            id="search-input"
            type="text"
            placeholder="Search reviews discussions of books "
          />
        </div>
        <div id="auth">
          <div id="avatar">
            <p><%= user.avatar %></p>
            <img src="" alt="" />
          </div>
          <a href="/users/auth/logout">Log out</a>
        </div>
      </div>
    </div>
    <!-- Side Bar -->
    <div id="right-side-bar">
      <div id="title">Discover</div>

      <div id="review">
        <div>My Reviews</div>
        <div class="criteria">
          <a href="/home/reviews" id="all">All reviews</a>
        </div>
        <div class="criteria">
          <a
            href="/home/reviews/status/in-progress"
            class="active"
            id="in-progress"
            >In progress reviews</a
          >
        </div>
        <div class="criteria">
          <a href="/home/reviews/status/complete" id="complete"
            >Complete reviews</a
          >
        </div>
        <div class="criteria">
          <a href="/home/reviews/status/publish" id="publish"
            >Publish reviews</a
          >
        </div>
        <div class="criteria">
          <a href="/home/reviews/status/hide" id="hide">Hide reviews</a>
        </div>
        <div id="create-review">
          <a href="/home/reviews/review-generator">Create Review</a>
        </div>
      </div>
      <div id="discussion">
        <div>My Discussions</div>
        <div>Best Discussions of Week</div>
        <div>Best Discussions of Month</div>
        <div>Best Discussions Of Year</div>
      </div>

      <div>Create Discussion</div>
    </div>

    <!-- Space -->
    <div id="space"></div>

    <!-- Main -->
    <div id="main-navigation">
      <div id="world"><a href="/world">World</a></div>
      <div id="sperator"></div>
      <div id="home"><a href="/home" class="active">Home</a></div>
    </div>
    <div id="main-display">
      <div id="card-container"></div>
      <div id="pagination"></div>
    </div>

    <!-- Footer -->
    <div id="footer">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim,
      necessitatibus tempore. Unde vero labore animi nostrum, dicta blanditiis
      error saepe quisquam debitis modi, optio officia culpa molestiae,
      doloremque necessitatibus commodi.
    </div>

    <%- include('../common/show'); %>

    <!-- <script src="/static/home/home.js"></script> -->
    <script src="/static/common/show.js"></script>
    <script src="/static/common/avatar.js"></script>
    <!-- <script src="/static/home/review/show-reviews.js"></script> -->
    <script src="/static/home/review/test.js"></script>
  </body>
</html>
