<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css"
    />
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/common/show.css" />
    <link rel="stylesheet" href="/static/world/world.css" />
    <link rel="stylesheet" href="/static/world/review/show-reviews.css" />

    <script
      src="https://kit.fontawesome.com/85891aa0c2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('../common/header'); %>
    <!-- Side Bar -->
    <div id="right-side-bar">
      <div id="title">Discover</div>

      <div id="review">
        <div>Reviews</div>
        <div class="criteria">
          <a href="/world/reviews/best-random" class="active">Random Reviews</a>
        </div>
        <div class="criteria">
          <a href="/world/reviews/best-of-day">Best Reviews Of Day</a>
        </div>
        <div class="criteria">
          <a href="/world/reviews/best-of-week">Best Reviews Of Week</a>
        </div>
        <div class="criteria">
          <a href="/world/reviews/best-of-month">Best Reviews Of Month</a>
        </div>
        <div class="criteria">
          <a href="/world/reviews/best-of-year">Best Reviews of Year</a>
        </div>
      </div>

      <div id="discussion">
        <div>Discussions</div>
        <div>Best Discussions of Week</div>
        <div>Best Discussions of Month</div>
        <div>Best Discussions Of Year</div>
      </div>
    </div>

    <!-- Space -->
    <div id="space"></div>

    <!-- Main -->
    <div id="main-navigation">
      <div id="world">
        <a href="/world" class="active"
          ><i class="fa-solid fa-earth-asia fa-lg"></i>World</a
        >
      </div>
      <div id="sperator"></div>
      <div id="home">
        <a href="/home"><i class="fa-solid fa-house fa-lg"></i>Home</a>
      </div>
    </div>
    <div id="main-display">
      <div id="card-container"></div>
    </div>

    <!-- Footer -->
    <%- include('../common/footer'); %>

    <!-- Notify -->
    <%- include('../common/show'); %>

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.46.1/dist/instantsearch.production.min.js"></script>
    <script src="/static/common/search.js"></script>
    <script src="/static/common/show.js"></script>
    <script src="/static/common/avatar.js"></script>
    <script src="/static/world/review/show-reviews.js"></script>
  </body>
</html>
